<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#" />
    <link href="/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Pay My Buddy</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<div class="header">
    <div class="alignleft"><p class="logoin">Pay My Buddy</p></div>

    <div class="alignright">
        <p class="welcome">Welcome, <span th:text="${person.firstName}"></span> <span
                th:text="${person.lastName}"></span></p>
        <a class="active" href="/">Home</a>
        <a href="/transfer">Transfer</a>
        <a href="#">Profile</a>
        <a href="/contact">Contact</a>
        <a href="javascript:void(0)" onclick="logout()">Log off</a>
    </div>
</div>


<script type="text/javascript">
    function logout() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/logout', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRF-TOKEN', document.querySelector('meta[name="_csrf"]').getAttribute('content'));
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                window.location.href = '/';
            }
        };
        xhr.send();
    }
</script>

<div class="centerit">
    <table>
        <thead>
        <tr class="transfertr">
            <th>Bank Balance :</th>
            <th><span th:text="${balance}"></span> €</th>
        </tr>
        </thead>
    </table>
</div>

<div class="centerit">

    <h4>Transfer to Bank </h4>

    <form method="post" th:action="@{/transferToBank}">

        <input type="hidden" name="account" th:value="${account}"/>

        <input type="number" step="0.01" name="transferToBankAmount" id="transferToBankAmount" placeholder="0 €" required/>

        <button type="submit" class="button">Transfer</button>

    </form>

<div class="centerit">
    <table>
        <thead>
        <tr class="transfertr">
            <th>Balance :</th>
            <th><span th:text="${finances}"></span> €</th>
        </tr>
        </thead>
    </table>
</div>

<h4>Transfer Received</h4>

<div class="centerit">
    <table>
        <thead>
        <tr class="transfertr" id="negatebackground">
            <th>Description</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>

        <tr class="transfertr" th:each="transaction : ${transaction}">
            <td th:text="${transaction.description}"></td>
            <td th:text="${transaction.amount}"></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
