<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="/favicon-32x32.png" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Pay My Buddy</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<div class="header">
    <div class="alignleft"><p class="logoin">Pay My Buddy</p></div>

    <div class="alignright">
        <p class="welcome">Welcome, <span th:text="${person.firstName}"></span> <span
                th:text="${person.lastName}"></span></p>
        <a href="/">Home</a>
        <a class="active" href="/transfer">Transfer</a>
        <a href="#">Profile</a>
        <a href="/contact">Contact</a>
        <a href="javascript:void(0)" onclick="logout()">Log off</a>
    </div>
</div>

<script type="text/javascript">
    function logout() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/logout', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRF-TOKEN', document.querySelector('meta[name="_csrf"]').getAttribute('content'));
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                window.location.href = '/';
            }
        };
        xhr.send();
    }
</script>

<h1>Confirm transfer to Account?</h1>


<p>Amount : <span th:text="${transferToAccountAmount}"></span> €</p>


<form th:action="@{/bankToAccountConfirm}" method="post">
    <input type="hidden" name="account" th:value="${account}" />
    <input type="hidden" name="transferToAccountAmount" th:value="${transferToAccountAmount}" />
    <button type="submit" class="button">Confirm</button>
</form>

</body>
</html>